
<div class="span6 offset3">
	<div class="boxy" >

		<h1 class="custom-font">Hi I'm Paul</h1>


			<p class="custom-font">I'm having a ton of fun learning rails, whatever that means.  I have <em>no</em> idea what I did.  Does Ruby run on Rails, or vice versa?  I dunno.</p>
			<p>At least we're using some HTML</p>
			<%= link_to('YOU WOULDNT DARE', '#', :class => 'btn btn-danger btn-large') %>
	</div>
</div>